<%- include('partials/head.ejs') %>

    <h1><%= text.username %></h1>
    <form method="post" action="/comments/<%= text.id %>/edit?_method=PATCH" >
        <br>
        <label for="newcomment">Enter the new comment:</label>
        <br>
        <textarea name="newcomment" id="newcomment" cols="30" rows="10" placeholder="<%=text.comment  %>"></textarea>
        <br>
        <button>Submit</button>
    </form>
    <br>
    <a href="/comments" style="text-decoration:none; font-size: 1em" class="material-symbols-outlined">home</a>
</body>
</html>